* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    text-align: center;
}

a {
    text-decoration: none;
}

header {
    text-align: center;
    padding: 15px;
    background-color: silver;
    font-style: italic;
    color: #ffffff;
    background: linear-gradient(silver , black);
    background-size: cover;
    border-radius: 5px;
    border-bottom: 5px solid silver;
}

.clear-fix {
    clear: both;
}

header i {
    float: right;
    margin-top: 10px;
    position: relative;
}

header h1 {
    font-weight: 400;
    display: inline;
}

.search-box {
    float: left;
    position: relative;
    transition: border 0.3 ease-in-out;
    border: none;
}

.search-box input {
    padding-left: 5px;
    outline: none;
}

.search-box input:focus {
    border: 3px solid aqua;
    border-radius: 20px;
}

.search-box input {
    width: 20vw; 
    height: 3vh; 
    text-align: left;
}

.icon {
    position: absolute;
    right: 10px;
    top: -2px;
    color: black;
    cursor: pointer;
}

.container {
    display: flex;
    padding: 10px 70px;
}

.products {
    display: grid;
    grid-template-columns: auto auto auto auto;
    flex-basis: 85%;
    margin-right: 15px;
    border: 2px solid silver;
    border-radius: 10px;
}

.product-holder {
    margin: 10px;
    border: 2px solid black;
    padding: 10px;
    background-color: rgba(202, 198, 198, 0.5);
    border-radius: 5px;
}

.name {
    margin: 5px 0;
    font-size: 1.5em;
    text-align: left;
}
.price {
    margin-bottom: 5px;
    font-size: 1.2em;
    text-align: left;
    color: red;
}
.add {
    width: 100%;
    background-color: rgba(171, 169, 169,0.5);
    cursor: pointer;
    border: none;
    font-size: 1.5em;border-top: 3px solid black;
    border-radius: 8px;
    transition: all 0.4s ease;
}
.add:hover {
    background-color: rgba(151, 129, 129, 0.5);
    color: #ffffff;
}

.product-holder img {
    width: 100%;
    height: 200px;
}

.side-bar {
    direction: rtl;
    border: 2px solid silver;
    border-radius: 10px;
    flex-basis: 15%;
    background-color: gray;
    height: 70vh;
}

.filters-title {
    margin: 20px 0;
    border-bottom: 5px solid black;
    color: #ffffff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.filters-menu {
    list-style: none;
}

.filter-item {
    margin-bottom: 15px;
}

.filter-item-link {
    color: #ffffff;
    font-size: 1.3em;
    transition: color 0.2s;
}
.filter-item-link:hover {
    color: black;
}

.page-number {
    margin: 30px 0;
    text-align: center;
}

.page-number-list {
    list-style: none;
    display: inline;
    /* margin: 50px 20px; */
}
.page-number-list-item {
    display: inline;
    font-size: 1.2em;
}

.page-number-item-link {
    margin: 0 10px;
}

.page-number i {
    font-size: 1.5em;
}


footer {
    background-color: rgb(85, 84, 84);
}

.footer a {
    color: #ffffff;
}

.left-list {
    float: left;
    list-style-type: none;
    margin-left: 20px;
}
.right-list {
    float: right;
    list-style-type: none;
    margin-right: 20px;
}

.left-list li {
    display: inline-block;
    margin: 30px 10px;
    font-size: 20px;
}
.right-list li {
    display: inline-block;
    margin: 30px 10px;
    font-size: 20px;
}

.menu {
    list-style: none;
    float: right;
    /* z-index: 1; */
    background-color: black;
    color: #ffffff;
    height: 100vh;
    width: 20vw;
    position: relative;
    top: 0;
    right: -20vw;
    position: fixed;
}

.close {
    display: block;
    position: absolute;
    top: 0;
    right: 1;
    transition: left 0.7s ease-in-out;

}

.burger {
    z-index: 100;
}

.check-box:checked ~ ul {
    right: 0;
    transition: right 0.7s ease-in-out;
}


.menu-item:first-child {
    margin-top: 50px;
}
.menu-item {
    margin: 20px auto;
}
.menu-item-link {
    color: #ffffff;
    font-size: 24px;
    transition: all 0.3s;
}
.menu-item-link:hover {
    color: red;
    border-bottom: 2px solid red;
}
